<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZarinpalWebGate.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
        <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    </system.web>

    <applicationSettings>
        <ZarinpalWebGate.My.MySettings>
            <setting name="ZarinpalWebGate_zarinpal_PaymentGatewayImplementationService"
                serializeAs="String">
                <value>https://de.zarinpal.com/pg/services/WebGate/service</value>
            </setting>
            <setting name="ZarinpalMerchantCode" serializeAs="String">
                <value>YOUR-MERCHANT-CODE-HERE</value>
            </setting>
        </ZarinpalWebGate.My.MySettings>
    </applicationSettings>
</configuration>
